:root{
    --buttonColor:#4b2e83;
    --buttonBackground:#b7a57a;
    --buttonAction:#85754d;
}

/* CSS for the introduction of the quiz */

header  {
    background-color: var(--buttonColor);
    color:var(--buttonBackground);
    text-align:center;
    font-size:30px;
    margin:0px;

}

header h1 {
    margin:0px;
}

.introduction {
    font-size:  30px;
    color:black;
    text-align:center;
    padding-top:50px;
    width:500px;
    display:flex;
    justify-content:center;
    margin:auto;
    font-weight:800;
}

.introductionRules {
    font-size: 20px;
    color: var(--buttonColor);
    text-align:center;
    width:300px;
    justify-content:center;
    padding-top:35px;
    margin:auto;
}

.introductionRules li {
    margin-bottom:10px;
}

#buttonStart {
    margin: 50px auto auto auto;
    text-align:center;
    justify-content:center;
    display:flex;
    width:200px;
    height:50px;
    font-size:20px;
    align-items:center;
    border-radius:8px;
    color:var(--buttonColor);
    background-color: var(--buttonBackground);
}

#buttonStart:hover {
    background-color: var(--buttonAction);
}

#buttonStart:active {
    background-color: var(--buttonAction);
    box-shadow:5px 4px #666;
    transform: translateY(4px);
}

/* CSS for once the quiz starts*/
.timer {
    background-color:var(--buttonBackground);
    color:var(--buttonColor);
    width:200px;
    text-align:center;
    justify-content:center;
    margin:auto;

}

.timerDisplay {
    background-color:var(--buttonBackground);
    color:var(--buttonColor);
    width:200px;
    text-align:center;
    justify-content:center;
    margin:auto;
}

.timer h2 {
    display:none;
}



.quizDisplay {
    text-align:center;
    font-size:35px;
}


.quizButtons {
    display:flex;
    flex-direction:column;
    width:500px;
    flex-wrap:wrap;
    justify-content:center;
    text-align:center;
    margin:auto;
    display:none;
    padding-right:8px;
   
}

.quizButtons button {
    color:var(--buttonColor);
    background-color: var(--buttonBackground);
    border-radius:8px;
    margin: auto auto 20px auto;
    border:3px solid black;
    width:100%;
    box-shadow:5px 9px #999;

}

.quizButtons button:hover {
    background-color: var(--buttonAction);
}

.quizButtons button:active {
    background-color: var(--buttonAction);
    box-shadow:5px 4px #666;
    transform: translateY(4px);
}


.quizDisplay {
    display:none;
}

.results, .resultsText {
    text-align:center;
    justify-content:center;
    margin:auto;
}

/* CSS for once the quiz ends */
.highScoreInput {
    display:none;
    text-align:center;
    margin:30px auto auto auto;
    height:30px;
    font-size:20px;
}

.highScoreButton {
    display:none;
    text-align:center;
    margin:30px auto auto auto;
    height:30px;
    font-size:20px;
    background-color:var(--buttonBackground);
    color:var(--buttonColor);
    border-radius:8px;
}

.highScoreButton:hover {
    background-color: var(--buttonAction);
}

.highScoreButton:active {
    background-color: var(--buttonAction);
    box-shadow:5px 4px #666;
    transform: translateY(4px);
}

.highScore {
    display:none;
    text-align:center;
    margin:30px auto auto auto;
    height:30px;
    font-size:20px;
    background-color:var(--buttonBackground);
    color:var(--buttonColor);
}

.endingButtons {
    display:flex;
    flex-direction:row;
    justify-content: center;
}

.goBack {
display:none;
text-align:center;
margin:30px 50px auto 50px;
height:30px;
font-size:20px;
background-color:var(--buttonBackground);
color:var(--buttonColor);
border-radius:8px;
}

.goBack:hover {
    background-color: var(--buttonAction);
}

.goBack:active {
    background-color: var(--buttonAction);
    box-shadow:5px 4px #666;
    transform: translateY(4px);
}


.scoreReset {
    display:none;
    text-align:center;
    margin:30px 50px auto 50px;
    height:30px;
    font-size:20px;
    background-color:var(--buttonBackground);
    color:var(--buttonColor);
    border-radius:8px;
}
.scoreReset:hover {
    background-color: var(--buttonAction);
}

.scoreReset:active {
    background-color: var(--buttonAction);
    box-shadow:5px 4px #666;
    transform: translateY(4px);
}


.highScoresList li {
 
text-align:center;
margin:30px auto auto auto;
height:30px;
width:200px;
font-size:20px;
color:var(--buttonColor);
}